@import '../../../styles/colors';

.product-tile {
  border: solid $color-border 1px;
  overflow: hidden;
  width: 240px;

  .bottom {
    padding: 0.5rem;

    .title {
      font-weight: bold;
    }
  }
}
