.product-image-container {
  width: 450px;

  .product-image-main {
    line-height: 0;
  }

  .product-image-thumbnail {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
      display: block;
      width: 100px;
    }
  }
}
