.drawer {
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 20;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.mask {
  background-color: #171c1f99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
