@import '../../styles/colors';

.header {
  border-bottom: solid $color-border 1px;
  box-shadow: #eee 0px 10px 12px;
  padding: 16px;

  nav li {
    margin-right: 32px;

    &.active a {
      font-weight: bold;
    }
  }
}
